memorysetup-main-allocator-block-size=134217728
memorysetup-thread-allocator-block-size=134217728
memorysetup-gfx-main-allocator-block-size=134217728
memorysetup-gfx-thread-allocator-block-size=134217728
memorysetup-cache-allocator-block-size=16777216
memorysetup-typetree-allocator-block-size=8388608
memorysetup-profiler-allocator-block-size=16777216
memorysetup-profiler-editor-allocator-block-size=1048576
memorysetup-bucket-allocator-granularity=16
memorysetup-bucket-allocator-bucket-count=8
memorysetup-bucket-allocator-block-size=33554432
memorysetup-bucket-allocator-block-count=8
memorysetup-temp-allocator-size-main=16777216
memorysetup-job-temp-allocator-block-size=2097152
memorysetup-job-temp-allocator-block-size-background=1048576
memorysetup-job-temp-allocator-reduction-small-platforms=262144
memorysetup-temp-allocator-size-gi-baking-worker=262144
memorysetup-temp-allocator-size-nav-mesh-worker=65536
memorysetup-temp-allocator-size-audio-worker=65536
memorysetup-temp-allocator-size-cloud-worker=32768
memorysetup-temp-allocator-size-gfx=262144
memorysetup-temp-allocator-size-job-worker=2097152
memorysetup-temp-allocator-size-background-worker=2097152
memorysetup-temp-allocator-size-preload-manager=33554432
