mainAllocatorBlockSize=134217728
sharedAllocatorBlockSize=134217728
gfxAllocatorBlockSize=134217728
fileCacheBlockSize=16777216
typeTreeBlockSize=8388608
jobWorkerBlockSize=2097152
backgroundJobWorkerBlockSize=2097152
audioWorkerBlockSize=262144
cloudWorkerBlockSize=262144
gfxThreadBlockSize=1048576
giBakingBlockSize=1048576
navMeshWorkerBlockSize=262144
profilerBlockSize=33554432
editorProfilerBlockSize=33554432
job-worker-count=20
workerThreadCount=20