name: EZRep Build

on:
  push:
    branches: [ "main", "ci"]
  pull_request: 
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.2

      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE

      - name: Create Build Directory
        run: mkdir _build

      - name: Restore Packages
        run: nuget restore ValheimRAFT.sln

      - name: Build Solution
        run: |
          msbuild.exe ValheimRAFT.sln /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /p:PublishUrl="../_build"

#      - name: Upload artifact
#        uses: actions/upload-artifact@v1.0.0
#        with:
#          name: EZRepBundle
#          path: "./_build"
#
#      - name: Login to Azure
#        uses: azure/login@v1
#        with:
#          creds: ${{ secrets.AZURE_CREDENTIALS }}
#
#      - name: Publish Artifacts to Azure
#        uses: Azure/webapps-deploy@v2
#        with:
#          app-name: ezrep
#          package: "./_build"
#          slot-name: production        